/* @todo make some generic text styles */
.container {
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: var(--gutterDouble);
    padding: var(--gutterDouble);
}

.container a {
    color: var(--colorPrimaryBG);
}

.container p {
    margin-bottom: var(--gutterBase);
}

.container ul {
    margin-bottom: var(--gutterBase);
}

.container li {
    list-style-type: square;
    margin-bottom: var(--gutterHalf);
    margin-left: var(--gutterDouble);
    padding-left: var(--gutterBase);
}

.more {
    display: none;
}

.container[data-show-more='true'] .more {
    display: block;
}

.button {
    composes: link from '../elements/Button.module.css';
}