.container {
  /* colors */
  --colorPrimaryBG: #f77f00;
  --colorPrimaryFG: #666666;
  --colorSecondaryBG: #ffffff;
  --colorSecondaryFG: #666666;

  /* borders */
  --borderSizeBase: 2px;
  --borderPrimary: calc(var(--borderSizeBase) * 2) rgba(0, 0, 0, 0.5) solid;
  --borderPrimaryFocus: calc(var(--borderSizeBase) * 2) var(--colorPrimaryBG) solid;
  
  /* font sizes */
  --fontSizeBase: 1rem;
  --fontSizeTitle1: calc(var(--fontSizeBase) * 2);

  /* gutters */
  --gutterBase: 1rem;
  --gutterHalf: calc(var(--gutterBase) / 2);
  --gutterDouble: calc(var(--gutterBase) * 2);

  background: var(--colorPrimaryBG);
  color: var(--colorPrimaryFG);
  font-size: var(--fontSizeBase);
  min-height: 100vh;
  padding: var(--gutterDouble);
  flex: 1;
}

.container[data-theme='florida'] {
  --colorPrimaryBG: #003087;
  --colorSecondaryBG: #FA4616;
  --colorSecondaryFG: #ffffff;
}

.container[data-theme='georgia'] {
  --colorPrimaryBG: #BA0C2F;
  --colorSecondaryBG: #000000;
  --colorSecondaryFG: #ffffff;
}

.container[data-theme='bama'] {
  --colorPrimaryBG: #AF002A;
}

.main {
  background: rgba(255, 255, 255, 0.9);
  padding: var(--gutterDouble);
}

.button {
  composes: primary from './elements/Button.module.css';
}