/* use built-in normalize.css reset */
@import-normalize;

/* border-box reset */
body {
  box-sizing: border-box;
  margin: 0;
}
body *,
body *:before,
body *:after {
  box-sizing: inherit;
}

/* saved from react-create-app */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
