/* use built-in normalize.css reset */
@import-normalize;

/* other resets / minimal styles inherited through the app */
body {
  box-sizing: border-box;
  color: var(--colorBody);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0;
}
body *,
body *:before,
body *:after {
  box-sizing: inherit;
}

a {
  color: var(--colorLink);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
}
