.PageHeader {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: var(--gutterHalf) var(--gutterHalf) rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.PageHeader-pageTitle {
    font-size: var(--fontSizeTitle1);
    margin-bottom: var(--gutterBase);
}

.PageHeader-button {
    background: rgba(0, 0, 0, 0.1);
    border: var(--borderPrimary);
    border-radius: calc(var(--borderSizeBase) * 5);
    color: var(--secondaryFG);
    cursor: pointer;
    outline: 0;
    padding: var(--gutterBase);
}

.PageHeader-button:focus {
    border: var(--borderPrimaryFocus);
}