.item {
    align-items: center;
    background: transparent url('/images/logo-tennessee.svg') 0 0 no-repeat;
    background-size: 16px 16px;
    display: flex;
    margin-bottom: var(--gutterBase);
    padding-left: calc(var(--gutterBase) + 16px);
}

[data-theme='florida'] .item {
    background: transparent url('/images/logo-florida.svg') 0 1px no-repeat;
    background-size: 16px 16px;
}

[data-theme='georgia'] .item {
    background: transparent url('/images/logo-georgia.svg') 0 3px no-repeat;
    background-size: 19px 13px;
}

[data-theme='bama'] .item {
    background: transparent url('/images/logo-bama.svg') 0 0 no-repeat;
    background-size: 16px 16px;
}